
@import url(reset.import.css);/* reset */
@import url(xui.css);/* reset */

@import url(test.scss);/* reset */



.cubic-bezier{
transition: width .2s cubic-bezier(.35,0,.25,1);
}

body, html {
    height: 100%;
}
body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.52857143;
  color: #515253;
  background-color: #f5f7fa; }

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  .topnavbar {
  	-webkit-backface-visibility: hidden;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #fff;
    z-index: 1050;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.15);
    position: relative;
    .navbar-header {
	    background-color: transparent;
	    background-image: -webkit-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
	    background-image: -o-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
	    background-image: linear-gradient(to right, #37bc9b 0%, #58ceb1 100%);
	    background-repeat: repeat-x;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37bc9b', endColorstr='#ff58ceb1', GradientType=1);
	  	z-index: 1050; 
	  	position:relative;
	  	.navbar-brand{
		  	float: left;
		    font-size: 18px;
		    line-height: 21px;
		    height: 55px;
		    position: relative;
		    .brand-logo{
	    	display: block;
			background-image:url(../img/logo.png);
			background-size:100% 100%;
			width:64px;
			height: 28px;
			position: absolute;
			top: 50%;
			left: 57px;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			}
		  }
	  }
	  .nav-wrapper{
	  	background-color: #37bc9b;
	    background-image: -webkit-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
	    background-image: -o-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
	    background-image: linear-gradient(to right, #37bc9b 0%, #58ceb1 100%);
	    background-repeat: repeat-x;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37bc9b', endColorstr='#ff58ceb1', GradientType=1);
	  	.navbar-nav{
	  		float:left;
	  		>li{
	  			>a{
	  				padding: 10px 15px;display: block;
	  				color: #fff;
	  			}
	  		}
	  	}
	  	.navbar-nav.navbar-right{
	  		float:right;
	  	}
	  	.nav{
	  		margin-bottom: 0;
    		padding-left: 0;
	  	}
	  }
  }
  .aside{
  	position: absolute;
    width: 220px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 116;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    transition: width .2s cubic-bezier(.35,0,.25,1),translate .2s cubic-bezier(.35,0,.25,1);
    .aside-inner{
    	@extend .cubic-bezier;
    	padding-top: 110px;
	    height: 100%;
	    width: 220px;
	    overflow: hidden;
	    .sidebar{
	    	height: 100%;
		    padding-bottom: 20px;
		    background-color: #fff;
		    overflow-x: hidden;
		    -webkit-overflow-scrolling: touch;
		    .nav{
		    	>li{
		    		border-left: 3px solid transparent;
    				transition: border-left-color .4s ease;
    				.label{
    					-webkit-animation: fadeInRight 1s;
					    animation: fadeInRight 1s;
					    -webkit-animation-fill-mode: both;
					    animation-fill-mode: both;
				        display: block;
					}

					>a{
						padding: 12px 24px;
					    color: #515253;
					    letter-spacing: .025em;
					    font-weight: 400;
					    cursor: pointer;
					    display: inline-block;
						>em{
							width: 1.8em;
						    display: inline-block;
						    font-style: normal;
						    font-weight: 400;
						    line-height: 1;
						    -webkit-font-smoothing: antialiased;
						    color: inherits;
						}
					}
				}
		    	>li.active{
		    		border-left-color: #37bc9b;
		    		>a>em{
		    			color: #37bc9b;
		    		}
		    	}
		    }
		    .nav-heading{
		    	padding: 12px 15px;
			    color: #919da8;
			    font-size: 13px;
			    letter-spacing: .035em;
			    pointer-events: none;
			    cursor: default;
			    color: #919DA8;
		    }
		    .sidebar-subnav{
		    	>li{
		    		>a{
		    			display: block;
					    position: relative;
					    padding: 10px 20px;
					    padding-left: 53px;
					    font-weight: 400;
					    background-color: transparent!important;
					    color: #515253;
		    		}
		    	}
		    }
	    }
    }
  }
  .content-wrapper{
  	transition: margin-left .2s cubic-bezier(.35,0,.25,1);
  	position: relative;
    height: 100%;
    margin-left: 0;
    z-index: 111;
    background-color: #f5f7fa;
    margin-bottom: 60px!important;
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,.15);
    margin-top: -1px;
  }
}

.panel{
	margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    .panel-heading{
    	border-bottom: 0;
        font-size: 14px;
        padding: 10px 15px;
	    border-top-right-radius: 3px;
	    border-top-left-radius: 3px;
	    .panel-title{
	    	margin-top: 0;
		    margin-bottom: 0;
		    font-size: 16px
	    }
	    .right-select{
	    	display:inline-block;
	    	cursor: pointer;
	    	margin-left: 10px;
	    }
    }
    .panel-body{
    	padding: 15px;
    }
    .panel-footer {
	    padding: 10px 15px;
	    background-color: #fafafa;
	    border-top: 1px solid #eee;
	    border-bottom-right-radius: 3px;
	    border-bottom-left-radius: 3px;
	    .f-title{
	    	color: #656565;
	    	margin: 0 auto;
		    display: block;
		    text-align: center;
	    }
	    .css-pre{
	    	margin-top: 10px;
	    }
	}
}
.panel-default {
    border-color: #cfdbe2;
}
.panel.panel-default {
    border-top-width: 3px;
    .panel-heading{
    	color: #444;
	    background-color: #fff;
	    border-color: #cfdbe2;
    }
}










@media only screen and (max-width: 767px) {
  .csstransforms3d .wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; } 
  .visible-xs {
	display: block!important;
  }
  .csstransforms3d .wrapper>.aside {
	    margin-left: 0;
	    -webkit-transform: translate3d(-220px,0,0);
	    transform: translate3d(-220px,0,0);
	    transition: transform .3s ease;
	}
	.wrapper>.aside {
	    margin-left: -220px;
	}
	.sidebar-toggle {
	    position: absolute!important;
	    top: 5px;
	    right: 0;
	    z-index: 3001;
	}
	.visible-xs {
	    display: block!important;
	}
	.hidden-xs {
	    display: none!important;
	}
	.aside-toggled .wrapper > .aside {
	    margin-left: 0;
	}
	.prettyprint.linenums,
	.panel .panel-heading .right-select{
		display: none;
	}
	.wrapper .topnavbar .nav-wrapper .navbar-right> li > a{
		color: #37bc9b;
	}
	.wrapper .topnavbar .navbar-header .navbar-brand .brand-logo{
		left: 20px;
	}
	.panel .panel-footer{
		padding: 0;
	}
}
@media (min-width: 768px){
	.navbar-header {
	    float: left;
	}
	.navbar-nav>li {
	    float: left;
	}
	.nav-wrapper {
	    position: relative;
	    box-shadow: 0 1px 2px rgba(0,0,0,.15);
	    z-index: 10;
	}
	.wrapper>.aside .aside-inner {
	    padding-top: 55px;
	}
	.sidebar>.nav .label {
	    margin: 2px 0 0;
	}
	.nav-wrapper:after, .nav-wrapper:before {
	    content: " ";
	    display: table;
	}
	.nav-wrapper:after {
	    clear: both;
	}
	.topnavbar .navbar-header .navbar-brand {
	    width: 100%;
	}
	.topnavbar .navbar-nav > li > a, .topnavbar .navbar-nav > .open > a {
	    color: #fff;
	}
	.wrapper .topnavbar .nav-wrapper .navbar-nav > li > a{
	    padding-top: 17px;
	    padding-bottom: 17px;
	}
	.wrapper .content-wrapper{
	    margin-left: 220px;
	}
	.wrapper .topnavbar .navbar-header{
	    width: 220px;
	    text-align: center;
	}
	.topnavbar {
	    background-color: #37bc9b;
	    background-image: -webkit-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
	    background-image: -o-linear-gradient(left, #37bc9b 0%, #58ceb1 100%);
	    background-image: linear-gradient(to right, #37bc9b 0%, #58ceb1 100%);
	    background-repeat: repeat-x;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37bc9b', endColorstr='#ff58ceb1', GradientType=1);
	}
	.visible-xs {
	    display: none!important;
	}
	.hidden-xs {
	    display: block!important;
	}
	.wrapper .topnavbar .navbar-header {
	    background-image: none;
	}

}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: " ";
    display: table;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
*, :after, :before {
    box-sizing: border-box;
}


.visible-lg, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block, .visible-md, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-sm, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-xs, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block {
    display: none;
}
.collapse {
    display: none;
}




















