<div class="aside-inner" id="aside-bar">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
        <!--  <li class="nav-heading ">
            <span data-localize="sidebar.heading.COMPONENTS">Components</span>
         </li> -->
         <li class=" ">
            <a title="Elements" data-toggle="collapse">
               <em class="icon-chemistry"></em>
               <span>Elements</span>
            </a>
            <ul class="nav sidebar-subnav" id="elements">
               <!-- <li class="sidebar-subnav-header">Elements</li> -->
               <li class="">
                  <a href="#buttons" title="Buttons">
                     <span>Button</span>
                  </a>
               </li>
               <li class=" ">
                  <a href="#Icon" title="Icon">
                     <span>Icon</span>
                  </a>
               </li>
               <li class=" ">
                  <a href="#Grid" title="Grid">
                     <span>Grid</span>
                  </a>
               </li>
               <li class=" ">
                  <a href="#radio" title="Radio">
                     <span>Radio</span>
                  </a>
               </li>
               <li class=" ">
                  <a href="#checkbox" title="checkbox">
                     <span>checkbox</span>
                  </a>
               </li>
               <li class=" ">
                  <a href="#Icon" title="Icon">
                     <span>Icon</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class=" active">
            <a href="#" title="Widgets" data-toggle="collapse">
               <em class="icon-grid"></em>
               <span data-localize="sidebar.nav.WIDGETS">Widgets</span>
            </a>
            <ul class="nav sidebar-subnav" id="elements">
               <!-- <li class="sidebar-subnav-header">Elements</li> -->
               <li class="">
                  <a href="#" title="Forms">
                     <span>Forms</span>
                  </a>
               </li>
            </ul>
         </li>
      </ul>
   </nav>
  
</div>