<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="xui">
<meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
<title>XUI</title>
<!-- =============== VENDOR STYLES ===============-->
<!-- FONT AWESOME-->
<link rel="stylesheet" href="../css/vendor/font-awesome.min.css">
<!-- SIMPLE LINE ICONS-->
<link rel="stylesheet" href="../css/vendor/simple-line-icons.css">
<!-- ANIMATE.CSS-->
<link rel="stylesheet" href="../css/vendor/animate.min.css">
<link rel="stylesheet" href="../css/vendor/prettify.css">
<!-- =============== APP STYLES ===============-->
<link rel="stylesheet" href="../css/xui-global.css" id="maincss">