<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="xui">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>XUI</title>
</head>
<style>
.abs-center {
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align:center;
    color: #656565;
}
.mb-xl {
    margin-bottom: 30px!important;
}
.text-lg {
    font-size: 42px;
    font-family: Source Sans Pro,sans-serif;
    
}
p {
    margin: 0!important;
}
</style>
<div class="wrapper">
  <div class="abs-center wd-xl">
     <!-- START panel-->
     <div class="text-center mb-xl">
        <div class="text-lg mb-lg">404</div>
        <p class="lead m0">We couldn't find this page.</p>
        <p>The page you are looking for does not exists.</p>
     </div>
   </div>
</div>
</html>