<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="xui">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>XUI</title>
   <!-- =============== VENDOR STYLES ===============-->
   <!-- FONT AWESOME-->
   <link rel="stylesheet" href="../css/vendor/font-awesome.min.css">
   <!-- SIMPLE LINE ICONS-->
   <link rel="stylesheet" href="../css/vendor/simple-line-icons.css">
   <!-- ANIMATE.CSS-->
   <link rel="stylesheet" href="../css/vendor/animate.min.css">
   <link rel="stylesheet" href="../css/prettify.css">
   <!-- =============== APP STYLES ===============-->
   <link rel="stylesheet" href="../css/xui-base.css" id="maincss">

</head>
<body>
    <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <!-- START Top Navbar-->
         <%- include common/topnavbar.ejs %>
      </header>
        <!-- sidebar-->
      <aside class="aside">
         <!-- START Sidebar (left)-->
         <%- include common/aside.ejs %>
      </aside>
      <!-- Page content-->
      <section class="content-wrapper">
          <div class="row">
            <div class="col-12">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">Buttons color</h3>
                     <div class="pull-right">
                        <div class="right-select">
                           <small>HTML</small>
                           <em class="fa fa-eye"></em>
                        </div>
                        <div class="right-select">
                           <small>CSS</small>
                           <em class="fa fa-eye-slash"></em>
                        </div>
                     </div>
                  </div>
                  <div class="panel-body">
                     <button class="btn default">default</button>
                     <button class="btn primary">primary</button>
                  </div>
                  <div class="panel-footer">
                     <div class="html-pre">
                         <pre>&lt;button class="xui-btn xui-btn-default" type="button"&gt;Default&lt;/button&gt;</pre>
                     </div>
                     <div class="css-pre collapse">
                        <pre>.btn {<br />    display: inline-block;<br />    padding: 4px 12px;<br />    text-align: center;<br />    vertical-align: middle;<br />    line-height: 1.42858;<br />    font-size: 14px;<br />    border: 1px solid transparent;<br />    border-radius: 3px;<br />    cursor: pointer;<br />    outline: none;<br />}<br />.btn.default {<br />    color: #fff;<br />    background-color: #b6c2c9;<br />}</pre>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- START row-->
         <div class="row">
            <div class="col-12">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">Outline Buttons</h3>
                     <div class="pull-right">
                        <div class="right-select">
                           <small>HTML</small>
                           <em class="fa fa-eye"></em>
                        </div>
                        <div class="right-select">
                           <small>CSS</small>
                           <em class="fa fa-eye"></em>
                        </div>
                     </div>
                  </div>
                  <div class="panel-body">
                     <button class="btn outline default">default</button>
                     <button class="btn outline primary">primary</button>
                  </div>
                  <div class="panel-footer">
                     <div class="html-pre">
                         <pre>&lt;button class="xui-btn xui-btn-default" type="button"&gt;Default&lt;/button&gt;</pre>
                     </div>
                     <div class="css-pre">
                        <pre>.btn {<br />    display: inline-block;<br />    padding: 4px 12px;<br />    text-align: center;<br />    vertical-align: middle;<br />    line-height: 1.42858;<br />    font-size: 14px;<br />    border: 1px solid transparent;<br />    border-radius: 3px;<br />    cursor: pointer;<br />    outline: none;<br />}<br />.btn.outline {<br />    background-color: transparent;<br />}<br />.btn.outline.default {<br />    color: #b6c2c9;<br />    border-color: #b6c2c9;<br />}</pre>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../js/prettify.js"></script>
<script type="text/javascript">
   $(window).load(function(){
       $("pre").addClass("prettyprint linenums");
       prettyPrint();


       $(".sidebar-toggle").click(function(){
         $("body").toggleClass("aside-toggled");
       });
   });
   
</script>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript">

</script>
</html>











