<div class="row"  id="buttons">
   <div class="col-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Buttons color</h3>
            <div class="pull-right">
               <div class="right-select">
                  <small>HTML</small>
                  <em class="fa fa-eye"></em>
               </div>
               <div class="right-select">
                  <small>CSS</small>
                  <em class="fa fa-eye-slash"></em>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <button class="xui-btn default">Default</button>
            <button class="xui-btn primary">primary</button>
         </div>
         <div class="panel-footer">
            <div class="html-pre">
                <pre>&lt;button class="xui-btn default"&gt;Default&lt;/button&gt;<br />&lt;button class="xui-btn primary"&gt;primary&lt;/button&gt;</pre>
            </div>
            <div class="css-pre">
               <pre>.xui-btn {
   display: inline-block;
   padding: 4px 9pt;
   outline: 0;
   border: 1px solid transparent;
   border-radius: 3px;
   vertical-align: middle;
   text-align: center;
   font-size: 14px;
   line-height: 1.42858;
   cursor: pointer
}

.xui-btn.default {
   background-color: #b6c2c9;
   color: #fff
}
</pre>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- START row-->
<div class="row">
   <div class="col-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Outline Buttons</h3>
            <div class="pull-right">
               <div class="right-select">
                  <small>HTML</small>
                  <em class="fa fa-eye"></em>
               </div>
               <div class="right-select">
                  <small>CSS</small>
                  <em class="fa fa-eye"></em>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <button class="xui-btn outline default">default</button>
            <button class="xui-btn outline primary">primary</button>
         </div>
         <div class="panel-footer">
            <div class="html-pre">

                <pre>&lt;button class="xui-btn outline default"&gt;default&lt;/button&gt;<br />&lt;button class="xui-btn outline primary"&gt;primary&lt;/button&gt;</pre>
            </div>
            <div class="css-pre">
               <pre>.xui-btn.outline {
   background-color: transparent
}

.xui-btn.outline.default {
   color: #b6c2c9;
   border-color: #b6c2c9
}

.xui-btn.outline.default:hover {
   color: #fff;
   background-color: #b6c2c9
}

.xui-btn.outline.default:focus {
   color: #fff;
   background-color: #b6c2c9
}

.xui-btn.outline.default:active {
   color: #fff;
   background-color: #b6c2c9
}

.xui-btn.outline.primary {
   color: #348fe2;
   border-color: #348fe2
}

.xui-btn.outline.primary:hover {
   color: #fff;
   background-color: #348fe2
}

.xui-btn.outline.primary:focus {
   color: #fff;
   background-color: #348fe2
}

.xui-btn.outline.primary:active {
   color: #fff;
   background-color: #348fe2
}

</pre>
            </div>
         </div>
      </div>
   </div>
</div>