<div class="row">
   <div class="col-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Buttons color</h3>
            <div class="pull-right">
               <div class="right-select">
                  <small>HTML</small>
                  <em class="fa fa-eye"></em>
               </div>
               <div class="right-select">
                  <small>CSS</small>
                  <em class="fa fa-eye-slash"></em>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <button class="btn default">default</button>
            <button class="btn primary">primary</button>
         </div>
         <div class="panel-footer">
            <div class="html-pre">
                <pre>&lt;button class="xui-btn xui-btn-default" type="button"&gt;Default&lt;/button&gt;</pre>
            </div>
            <div class="css-pre collapse">
               <pre>.btn {<br />    display: inline-block;<br />    padding: 4px 12px;<br />    text-align: center;<br />    vertical-align: middle;<br />    line-height: 1.42858;<br />    font-size: 14px;<br />    border: 1px solid transparent;<br />    border-radius: 3px;<br />    cursor: pointer;<br />    outline: none;<br />}<br />.btn.default {<br />    color: #fff;<br />    background-color: #b6c2c9;<br />}</pre>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- START row-->
<div class="row">
   <div class="col-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Outline Buttons</h3>
            <div class="pull-right">
               <div class="right-select">
                  <small>HTML</small>
                  <em class="fa fa-eye"></em>
               </div>
               <div class="right-select">
                  <small>CSS</small>
                  <em class="fa fa-eye"></em>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <button class="btn outline default">default</button>
            <button class="btn outline primary">primary</button>
         </div>
         <div class="panel-footer">
            <div class="html-pre">

                <pre>&lt;button class="xui-btn xui-btn-default" type="button"&gt;Default&lt;/button&gt;</pre>
            </div>
            <div class="css-pre">
               <pre>.btn {<br />    display: inline-block;<br />    padding: 4px 12px;<br />    text-align: center;<br />    vertical-align: middle;<br />    line-height: 1.42858;<br />    font-size: 14px;<br />    border: 1px solid transparent;<br />    border-radius: 3px;<br />    cursor: pointer;<br />    outline: none;<br />}<br />.btn.outline {<br />    background-color: transparent;<br />}<br />.btn.outline.default {<br />    color: #b6c2c9;<br />    border-color: #b6c2c9;<br />}</pre>
            </div>
         </div>
      </div>
   </div>
</div>