<div class="row" id="input">
   <div class="col-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">input</h3>
            <div class="pull-right">
               <div class="right-select">
                  <small>HTML</small>
                  <em class="fa fa-eye"></em>
               </div>
               <div class="right-select">
                  <small>CSS</small>
                  <em class="fa fa-eye-slash"></em>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <input class="form-field" type="text">
         </div>
         <div class="panel-footer">
            <div class="html-pre">
                <pre>&lt;input class="form-field" type="text"&gt;</pre>
            </div>
            <div class="css-pre">
               <pre>.form-field {
    display: block;
    width: 100%;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.42858;
    color: #333;
}</pre>
            </div>
         </div>
      </div>
   </div>
</div>
